
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/laradock/
/.idea/
composer.lock
###< symfony/framework-bundle ###
.env
/src/DTO_old/
